body, * {
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: url('./img/back.png');
    background-size: cover;
}

html {
    overflow-x: hidden;
}

.full-frame {
    height: 100vh;
    width: 100vw;
    background-image: url('./img/back.png');
    background-size: cover;
}

header {
    background-color: #053b5f;
    height: 150px;
    display: block;
    width: 100%;
    border-bottom: 1rem solid #e1b449;
}

.brand-container, .body-container {
    text-align: center;
}

.brand-container img {
    width: 230px;
}
.body-container .v-title {
    text-transform: uppercase;
    font-size: 30px;
    color: #053b5f;
    margin: 0;
}

.body-container .v-title:nth-child(2) {
    font-weight: bold;
}

.body-container {
    padding-top: 2.5rem;
}


.image-container:nth-child(2) {
    margin-top: 5rem;
}

.image-container img {
    width: 100%;
    position: absolute;
}

.button-container {
    text-align:center;
}

.pay-button {
    width: 100%;
    font-size: 26px;
    background-color: #e5b84c;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 0.25rem 0.25rem 0 0;
    color: white;
}
.pay-button:focus {
    border: none;
    outline: none;
}


.card-button {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 0.25rem;
    margin-bottom: 1.5rem;
}
.methods {
    background-color: #fff;
    display: block;
    width: 100%;
    border-radius: 0 0 0.25rem 0.25rem;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border-bottom: 5px solid #e1b449;
    padding: 1.5rem
}

.methods img {
    width: 100%;
}

@media (max-width: 575.98px) { 
    .button-container {
        margin-top: 304px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) { 
    .button-container{
        margin-top: 461px;
    }
 }


@media (min-width: 768px) and (max-width: 991.98px) { 
    .button-container{
        margin-top: 308px;
    }
 }  

 
@media (min-width: 992px) and (max-width: 1199.98px) {
    .button-container {
        margin-top: 409px;
      }
 }


@media (min-width: 1200px) { 
  .button-container {
    margin-top: 486px;
  }
}

 .toast {
    max-width: initial;
 }